# Compiled binaries (rebuild with `make`)
Assignment1_folder/HPDS_assignment1/serial
Assignment1_folder/HPDS_assignment1/threaded
Assignment1_folder/HPDS_assignment1/openmp
Assignment1_folder/HPDS_assignment1/mpi


